<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vaccine Slots by Saikat</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Covid 19 Vaccine Avaibility - <%= title%></h1>
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th style="width:25%">Center Name</th>
              <th style="width:25%">Center Address</th>
              <th>Date</th>
              <th>Vaccine Name</th>
              <th>Age Group</th>
              <th>Available Dose 1</th>
              <th>Available Dose 2</th>
              <th>Fees</th>
            </tr>
          </thead>
          <tbody>
            <%data.sort(function(a,b){return a.sessions.available_capacity-b.sessions.available_capacity})%>
            <%data.forEach(function(item){%>
              <%item.sessions.forEach(function(sess){ %>
                <%if(sess.available_capacity>0){ %>
                <tr>
                  <td>
                  <%=item.name%>
                  </td>
                  <td>
                  <%= item.address%>
                  </td>
                  <td>
                  <%= sess.date%>
                  </td>
                  <td>
                  <%= sess.vaccine%>
                  </td>
                  <td>
                  <%= sess.min_age_limit+"+"%>
                  </td>
                  <td>
                  <%= sess.available_capacity_dose1%>
                  </td>
                  <td>
                  <%= sess.available_capacity_dose2%>
                  </td>
                  <td>
                    <%if(item.fee_type=="Free"){%>
                      <%="Free"%>
                    <%}else{%>
                      <%="₹"+item.vaccine_fees[0].fee%>
                    <%}%>

                  </td>
                </tr>
                <%}%>
                <%})%>
              <% })%>
          </tbody>
        </table>
      </div>
      <footer>
        Copyright Saikat Paul, 2021
      </footer>
    </div>

  </body>
</html>
